.project-card {
  border-radius: 8px;
  box-shadow: 3px 4px 3px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--textColor);
  width: 100%;
  min-height: 200px;
}

.project-content {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

.project-header {
  flex: 0;
}

.project-technologies {
  margin-top: 16px;
  font-size: 0.875rem;
  align-self: flex-end;
  color: #727272;
  width: 100%;
}
