.char-blink {
  animation: blink 1s step-end infinite;
  color: #14b8a6;
}

.slide-in-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100px);
}

.slide-in-right-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideInLeft 1500ms ease-out forwards;
}

.slide-in-left-delayed {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideInLeft 1200ms ease-out 1s forwards;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100px);
  animation: slideInRight 1500ms ease-out forwards;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.1%,
  100% {
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
