.footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-top: 1px solid;
  display: flex;
  justify-content: space-between;
}
